Introduction to Python 5199 - Spring, 2021

Vidya Madhavan - vm2621

HW4 - 02/25/2021

In [1]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [5]:
def is_odd4(x):
    """Returns True only if x is odd."""
    return x % 2 != 0

In [6]:
list(filter(is_odd4, numbers))

[3, 7, 1, 9, 5]

In [1]:
is_odd4(numbers)

NameError: name 'is_odd4' is not defined

In [8]:
list(filter(lambda x: x % 2 != 0, numbers))

[3, 7, 1, 9, 5]

In [9]:
numbers

[10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [10]:
list(map(lambda x: x ** 2, numbers))

[100, 9, 49, 1, 81, 16, 4, 64, 25, 36]

In [11]:
[item ** 2 for item in numbers]

[100, 9, 49, 1, 81, 16, 4, 64, 25, 36]

In [12]:
tuple(map(lambda x: x ** 2, numbers))

(100, 9, 49, 1, 81, 16, 4, 64, 25, 36)

In [13]:
list(map(lambda x: x ** 2,
        filter(lambda x: x % 2 != 0, numbers)))

[9, 49, 1, 81, 25]

In [14]:
[x ** 2 for x in numbers if x % 2 != 0]

[9, 49, 1, 81, 25]

In [15]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [16]:
reversed_numbers = [item ** 2 for item in reversed(numbers)]

In [17]:
reversed_numbers

[36, 25, 64, 4, 16, 81, 1, 49, 9, 100]

In [18]:
names = ['Bob', 'Sue', 'Amanda']

In [19]:
grade_point_averages = [3.5, 4.0, 3.75]

In [20]:
for name, gpa in zip(names, grade_point_averages):
    print(f'Name ={name}; GPA ={gpa}')

Name =Bob; GPA =3.5
Name =Sue; GPA =4.0
Name =Amanda; GPA =3.75

In [21]:
a = [[77, 68, 86, 73], [96, 87, 89, 81],[70, 90, 86, 81]]

In [22]:
for row in a:
    print(row)

[77, 68, 86, 73]
[96, 87, 89, 81]
[70, 90, 86, 81]

In [23]:
for row in a:
    for item in row:
        print(item, end=' ')
    print()

77 68 86 73
96 87 89 81
70 90 86 81

In [24]:
a = [[77, 68, 86, 73], [96, 87, 89, 81],[70, 90, 86, 81]]

In [25]:
for i, row in enumerate(a):
    for j, item in enumerate(row):
        print(f'a[{i}][{j}]={item} ', end=' ')
    print()

a[0][0]=77  a[0][1]=68  a[0][2]=86  a[0][3]=73
a[1][0]=96  a[1][1]=87  a[1][2]=89  a[1][3]=81
a[2][0]=70  a[2][1]=90  a[2][2]=86  a[2][3]=81

# Session 6 #

In [26]:
country_codes = {'Finland': 'fi', 'South Africa': 'za', 'Nepal': 'np'}

In [27]:
country_codes

{'Finland': 'fi', 'South Africa': 'za', 'Nepal': 'np'}

In [28]:
len(country_codes)

3

In [29]:
if country_codes:
    print('country_codes is not empty')
else:
    print('country_codes is empty')

country_codes is not empty

In [30]:
country_codes.clear()

In [32]:
if country_codes:
    print('country_codes is not empty')
else:
    print('country_codes is empty')

country_codes is empty

In [33]:
days_per_month = {'January': 31, 'February': 28, 'March': 31}

In [34]:
days_per_month

{'January': 31, 'February': 28, 'March': 31}

In [36]:
for month, days in days_per_month.items():
    print(f'{month} has {days} days')

January has 31 days
February has 28 days
March has 31 days

In [38]:
roman_numerals = {'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 100}

In [39]:
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 100}

In [40]:
roman_numerals['V']

5

In [41]:
roman_numerals['X'] = 10

In [42]:
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 10}

In [45]:
roman_numerals['L'] = 50

In [47]:
roman_numerals

{'I': 1, 'II': 2, 'III': 3, 'V': 5, 'X': 10, 'L': 50}

In [48]:
del roman_numerals['III']

In [49]:
roman_numerals

{'I': 1, 'II': 2, 'V': 5, 'X': 10, 'L': 50}

In [51]:
roman_numerals.pop('X')

10

In [52]:
roman_numerals

{'I': 1, 'II': 2, 'V': 5, 'L': 50}

In [53]:
roman_numerals

{'I': 1, 'II': 2, 'V': 5, 'L': 50}

In [54]:
roman_numerals['III']

KeyError: 'III'

In [55]:
roman_numerals

{'I': 1, 'II': 2, 'V': 5, 'L': 50}

In [56]:
roman_numerals.get('III')

In [57]:
roman_numerals.get('III', 'III not in dictionary')

'III not in dictionary'

In [58]:
roman_numerals.get('V')

5

In [59]:
'V' in roman_numerals

True

In [60]:
'III' in roman_numerals

False

In [62]:
'III' not in roman_numerals

True

In [63]:
months = {'January': 1, 'February': 2, 'March': 3}

In [69]:
for month_name in months.keys():
    print(month_name, end='  ')

January  February  March

In [71]:
for month_number in months.values():
    print(month_number, end='  ')

1  2  3

In [72]:
months_view = months.keys()

In [73]:
for key in months_view:
    print(key, end='  ')

January  February  March

In [74]:
months['December'] = 12

In [75]:
months

{'January': 1, 'February': 2, 'March': 3, 'December': 12}

In [76]:
for key in months_view:
    print(key, end='  ')

January  February  March  December

In [78]:
list(months.keys())

['January', 'February', 'March', 'December']

In [79]:
list(months.values())

[1, 2, 3, 12]

In [80]:
list(months.items())

[('January', 1), ('February', 2), ('March', 3), ('December', 12)]

In [81]:
for month_name in sorted(months.keys()):
    print(month_name, end='  ')

December  February  January  March

In [82]:
country_captials1 = {'China': 'Beijing', 'UK': 'London'}

In [83]:
country_captials2 = {'Canada': 'Ottawa', 'Greece': 'Athens'}

In [84]:
country_captials3 = {'UK': 'London', 'China': 'Beijing'}

In [85]:
country_captials1 == country_captials2

False

In [86]:
country_captials1 == country_captials3

True

In [87]:
country_captials1 != country_captials2

True

In [28]:
"""Using a dictionary to represent an instructor's grade book."""
grade_book = {
    'Susan': [92, 85, 100],
    'Ann': [83, 95, 79],
    'Tina': [91, 89, 82],
    'Mike': [97, 91, 92]
}

all_grades_total = 0
all_grades_count = 0

for name, grades in grade_book.items():
    total = sum(grades)
    print(f'Average for {name} is {total/len(grades):.2f}')
    all_grades_total += total
    all_grades_count += len(grades)
    
print(f"Class's average is: {all_grades_total / all_grades_count:.2f}")

Average for Susan is 92.33
Average for Ann is 85.67
Average for Tina is 87.33
Average for Mike is 93.33
Class's average is: 89.67

In [47]:
text = ('this is sample text with several words '
        'this is more sample text with some different words')

In [48]:
text.split()

['this',
 'is',
 'sample',
 'text',
 'with',
 'several',
 'words',
 'this',
 'is',
 'more',
 'sample',
 'text',
 'with',
 'some',
 'different',
 'words']

In [49]:
from collections import Counter

In [50]:
counter = Counter(text.split())

In [51]:
counter

Counter({'this': 2,
         'is': 2,
         'sample': 2,
         'text': 2,
         'with': 2,
         'several': 1,
         'words': 2,
         'more': 1,
         'some': 1,
         'different': 1})

In [52]:
for word, count in sorted(counter.items()):
    print(f'{word:<12}{count}')

different   1
is          2
more        1
sample      2
several     1
some        1
text        2
this        2
with        2
words       2

In [53]:
print('Number of unique keys:', len(counter.keys()))

Number of unique keys: 10

In [54]:
country_codes = {}

In [55]:
country_codes.update({'South Africa': 'za'})

In [56]:
country_codes

{'South Africa': 'za'}

In [57]:
country_codes.update(Australia='ar')

In [58]:
country_codes

{'South Africa': 'za', 'Australia': 'ar'}

In [59]:
country_codes.update(Australia='au')

In [60]:
country_codes

{'South Africa': 'za', 'Australia': 'au'}

In [61]:
months = {'January': 1, 'February': 2, 'March': 3}

In [62]:
months2 = {number: name for name, number in months.items()}

In [63]:
months2

{1: 'January', 2: 'February', 3: 'March'}

In [64]:
grades = {'Sue': [98, 87, 94], 'Bob': [84, 95, 91]}

In [65]:
grades2 = {k: sum(v) / len(v) for k, v in grades.items()}

In [66]:
grades2

{'Sue': 93.0, 'Bob': 90.0}

In [67]:
colors = {'red', 'organge', 'yellow', 'green', 'red', 'blue'}

In [68]:
colors

{'blue', 'green', 'organge', 'red', 'yellow'}

In [69]:
len(colors)

5

In [70]:
'red' in colors

True

In [71]:
'purple' in colors

False

In [72]:
'purple' not in colors

True

In [73]:
for color in colors:
    print(color.upper(), end=' ')

YELLOW GREEN BLUE RED ORGANGE

In [74]:
numbers = list(range(10)) + list(range(5))

In [75]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4]

In [76]:
set(numbers)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [77]:
set()

set()

In [78]:
a = frozenset([1, 2, 3])

In [79]:
a

frozenset({1, 2, 3})

In [80]:
set(a)

{1, 2, 3}

In [81]:
{1, 3, 5} == {3, 5, 1}

True

In [82]:
{1, 3, 5} != {3, 5, 1}

False

In [83]:
{1, 3, 5} < {3, 5, 1}

False

In [84]:
{1, 3, 5} < {7, 3, 5, 1}

True

In [85]:
{1, 3, 5} <= {3, 5, 1}

True

In [86]:
{1, 3} <= {3, 5, 1}

True

In [87]:
{1, 3, 5}.issubset({3, 5, 1})

True

In [88]:
{1, 2}.issubset({3, 5, 1})

False

In [89]:
{1, 3, 5} > {3, 5, 1}

False

In [90]:
{1, 3, 5, 7} > {3, 5, 1}

True

In [91]:
{1, 3, 5} >= {3, 5, 1}

True

In [92]:
{1, 3, 5} >= {3, 1}

True

In [93]:
{1, 3} >= {3, 1, 7}

False

In [94]:
{1, 3, 5}.issuperset({3, 5, 1})

True

In [95]:
{1, 3, 5}.issuperset({3, 2})

False

In [96]:
{1, 3, 5} > {3, 5, 1}

False

In [97]:
{1, 3, 5, 7} > {3, 5, 1}

True

In [98]:
{1, 3, 5} >= {3, 1}

True

In [99]:
{1, 3} >= {3, 1, 7}

False

In [100]:
{1, 3, 5}.issuperset({3, 5, 1})

True

In [1]:
{1, 3, 5}.issuperset({3, 2})

False

In [2]:
{1, 3, 5} | {2, 3, 4}

{1, 2, 3, 4, 5}

In [2]:
{1, 3, 5}.union([20, 20, 3, 40, 40])

{1, 3, 5, 20, 40}

In [3]:
{1, 3, 5} & {2, 3, 4}

{3}

In [35]:
{1, 3, 5}.intersection([1, 2, 2, 3, 3, 4, 4])

{1, 3}

In [36]:
{1, 3, 5} - {2, 3, 4}

{1, 5}

In [37]:
{1, 3, 5, 7}.difference([2, 2, 3, 3, 4, 4])

{1, 5, 7}

In [38]:
{1, 3, 5} ^ {2, 3, 4}

{1, 2, 4, 5}

In [39]:
{1, 3, 4, 7}.symmetric_difference([2, 2, 3, 3, 4, 4])

{1, 2, 7}

In [40]:
{1, 3, 5}.isdisjoint({2, 4, 6})

True

In [41]:
{1, 3, 5}.isdisjoint({4, 6, 1})

False

In [42]:
numbers = {1, 3, 5}

In [43]:
numbers |= {2, 3, 4}

In [44]:
numbers

{1, 2, 3, 4, 5}

In [45]:
numbers.update(range(10))

In [46]:
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [49]:
numbers = {1, 3, 5}
numbers |= {2, 3, 4}
numbers

{1, 2, 3, 4, 5}

In [51]:
numbers.update(range(10))
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [52]:
numbers.add(17)

In [53]:
numbers.add(3)

In [54]:
numbers

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 17}

In [55]:
numbers.remove(3)

In [56]:
numbers

{0, 1, 2, 4, 5, 6, 7, 8, 9, 17}

In [57]:
numbers = [1, 2, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10, 10]

In [58]:
evens = {item for item in numbers if item % 2 == 0}

In [59]:
evens

{2, 4, 6, 8, 10}

## Exercises

## 6.1 : Explain the following dictionary methods

1. Add: Adding a New Key–Value
Pair - Assigning to a nonexistent key
inserts a new key–value pair.

2. Keys: Python Dictionary are defined into two elements Keys and Values. Keys will be a single element. More than one entry per key is not allowed ( no duplicate key is allowed). Dictionary keys are case sensitive- Same key name but with the different cases are treated as different keys in Python dictionaries.

3. Values: Python Dictionary are defined into two elements Keys and Values. Values can be a list or list within a list, numbers, etc. The values in the dictionary can be of any type, while the keys must be immutable like numbers, tuples, or strings.

4. Items: The items() method returns a list of tuple pairs (Keys, Value) in the dictionary.

## 6.2

In [5]:
from collections import Counter
text = ('to be or not to be that is the
question')
counter = Counter(text.split())
for word, count in sorted(counter):
print(f'{word:<12}{count}')

SyntaxError: EOL while scanning string literal (<ipython-input-5-504e34815970>, line 2)

Error 1: There needs to be an end of line ' in the split line written. 
Error 2: The command - for word, count in sorted(counter): - needs to be amended with (counter.items()):. 
The corrected code is below:

In [10]:
from collections import Counter
text = ('to be or not to be that is the '
'question')
counter = Counter(text.split())
for word, count in sorted(counter.items()):
    print(f'{word:<12}{count}')

be          2
is          1
not         1
or          1
question    1
that        1
the         1
to          2

## 6.3

In [4]:
temperatures = {
'Monday': [66, 70, 74],
'Tuesday': [50, 56, 64],
'Wednesday': [75, 80, 83],
'Thursday': [67, 74, 81]
}

for k, v in temperatures.items():
    print(f'{k}: {sum(v)/len(v):.2f}')

Monday: 70.00
Tuesday: 56.67
Wednesday: 79.33
Thursday: 74.00

The 'for' code prints out the average of the day-wise listed temperatures corresponding to every day mentioned.

## 6.4

(Fill in the Missing Code) In each of the following expressions,
replace the ***s with a set operator that produces the result shown in the
comment. The last operation should check whether the left operand is an
improper subset of the right operand. For each of the first four
expressions, specify the name of the set operation that produces the
specified result.

6.4.1

In [28]:
{1, 2, 4, 8, 16} | {1, 4, 16, 64, 256}
#Union operator

{1, 2, 4, 8, 16, 64, 256}

6.4.2

In [12]:
{1, 2, 4, 8, 16}.intersection([1, 4, 16, 64, 256])
#Intersection

{1, 4, 16}

6.4.3

In [14]:
{1, 2, 4, 8, 16} - {1, 4, 16, 64, 256}
#Difference

{2, 8}

6.4.4

In [25]:
{1, 2, 4, 8, 16}.symmetric_difference([1, 4, 16, 64, 256])
#Symmetric difference

{2, 8, 64, 256}

6.4.5

In [26]:
{1, 2, 4, 8, 16} .issubset({1, 4, 16, 64, 256})
#Subset

False

## 6.9

(Dictionary Manipulations) Using the following dictionary, which
maps country names to Internet top-level domains (TLDs):
tlds = {'Canada': 'ca', 'United States':
'us', 'Mexico': 'mx'}
perform the following tasks and display the results:
1. Check whether the dictionary contains the key 'Canada'.
2. Check whether the dictionary contains the key 'France'.
3. Iterate through the key–value pairs and display them in twocolumn
format.
4. Add the key–value pair 'Sweden' and 'sw' (which is
incorrect).
5. Update the value for the key 'Sweden' to 'se'.
6. Use a dictionary comprehension to reverse the keys and values.
7. With the result of part (f), use a dictionary comprehension to
convert the country names to all uppercase letters.

In [4]:
tlds = {'Canada': 'ca', 'United States':
'us', 'Mexico': 'mx'}

In [5]:
tlds

{'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx'}

6.9.1

In [6]:
'Canada' in tlds

True

6.9.2

In [7]:
'France' in tlds

False

6.9.3

In [14]:
list(tlds.items())

[('Canada', 'ca'), ('United States', 'us'), ('Mexico', 'mx')]

6.9.4

In [15]:
tlds.update(Sweden='sw')

In [16]:
tlds

{'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx', 'Sweden': 'sw'}

6.9.5

In [17]:
tlds.update(Sweden='se')

In [18]:
tlds

{'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx', 'Sweden': 'se'}

6.9.6

In [19]:
tlds1 = {'Canada': 'ca', 'United States':
'us', 'Mexico': 'mx', 'Sweden': 'se'}

In [20]:
tlds2 = {number: name for name, number in tlds1.items()}

In [21]:
tlds2

{'ca': 'Canada', 'us': 'United States', 'mx': 'Mexico', 'se': 'Sweden'}

6.9.7

Note: I was unsure whether I had to do symbols or country names, so I did both!

In [32]:
for country in tlds2:
    print(country.upper(), end=' ')

CA US MX SE

In [33]:
for country in tlds1:
    print(country.upper(), end=' ')

CANADA UNITED STATES MEXICO SWEDEN

In [34]:
## End