<h1> Introduction to Python Data Science </h1>

<h2> Spring Semester, 2021</h2>

<h3> Vidya Madhavan </h3>

<h3> UNI: vm2621 </h3>

<h4> HW 1 - 4th February, 2021 </h4>

# Python_Session1

In [1]:
41 + 57

98

In [2]:
x = 5

In [3]:
y = 10

In [4]:
x = 5 
y = 10

In [5]:
x, y = 5, 10

In [6]:
x + y

15

In [7]:
total = x + y

In [8]:
total

15

In [9]:
type (x)

int

In [10]:
type (10.5)

float

In [11]:
title = 'hello'
type (title)

str

In [12]:
x = 99

In [13]:
x = 'Take me to your leader'

In [14]:
x

'Take me to your leader'

In [15]:
123 / 0

ZeroDivisionError: division by zero

In [16]:
z + 7

NameError: name 'z' is not defined

In [17]:
print ('Welcome to Python')

Welcome to Python

In [18]:
print ("Welcome to Python")

Welcome to Python

In [19]:
print ('Welcome', 'to', 'Python')

Welcome to Python

In [20]:
print ('Answer is', 7 + 3)

Answer is 10

In [21]:
print ('Welcome\nto\n\nPython!')

Welcome
to

Python!

In [22]:
print ('this is a long string, so we
       split it over two lines')

SyntaxError: EOL while scanning string literal (<ipython-input-22-d0f31c6e9100>, line 1)

In [23]:
print ('this is a long string, so we \
split it over two lines')

this is a long string, so we split it over two lines

In [24]:
print('Display "Hi" in quotes')

Display "Hi" in quotes

In [25]:
print('Display 'Hi' in quotes')

SyntaxError: invalid syntax (<ipython-input-25-b0c265b5db52>, line 1)

In [26]:
print ('Display \'hi\' in quotes')

Display 'hi' in quotes

In [27]:
print ("Display 'Hi' in quotes")

Display 'Hi' in quotes

In [28]:
print ("Display the name O'Brien")

Display the name O'Brien

In [29]:
print ('Display \"hi\" in quotes')

Display "hi" in quotes

In [30]:
print ("""Display "Hi" and 'bye' in quotes""")

Display "Hi" and 'bye' in quotes

In [31]:
triple_quoted_string = '''This is a triple-quoted
string that spans two lines'''

In [32]:
print (triple_quoted_string)

This is a triple-quoted
string that spans two lines

In [33]:
triple_quoted_string

'This is a triple-quoted\nstring that spans two lines'

In [34]:
#This is a comment

In [35]:
x = 7 #7 is assigned to x

In [36]:
name = input ("What's your name?")

What's your name?Vidya

In [37]:
name

'Vidya'

In [38]:
print(name)

Vidya

In [40]:
value1 = input ('Enter first number: ')
value2 = input ('Enter second number: ')
value1 + value2

Enter first number: 7
Enter second number: 3

'73'

In [41]:
x = 11.56
print(int(x))

11

In [42]:
value1 = int(value1)
value2 = int(value2)

In [43]:
value1 + value2

10

In [44]:
another_value = int(input('Enter another integer: '))

Enter another integer: 17

In [45]:
another_value

17

In [46]:
value1 + value2 + another_value

27

In [47]:
7 > 4

True

In [48]:
7 > = 4

SyntaxError: invalid syntax (<ipython-input-48-5c6e2897f3b3>, line 1)

In [49]:
7 >= 4

True

In [50]:
7 <= 3

False

In [51]:
print ('Enter two integers, and I will tell you' ,
      'the relationships they satisfy')
#read first integer
number1 = int(input('Enter first integer: '))

#read second integer
number2 = int(input('Enter second integer: '))

if number1 == number2:
    print(number1, 'is equal to', number2)
    
if number1 != number2:
    print(number1, 'is not equal to', number2)
    
if number1 < number2:
    print(number1, 'is less than', number2)
    
if number1 > number2:
    print(number1, 'is greater than', number2)
    
if number1 <= number2:
    print(number1, 'is less than or equal to', number2)
    
if number1 >= number2:
    print(number1, 'is greater than or equal to', number2 )

Enter two integers, and I will tell you the relationships they satisfy
Enter first integer: 5
Enter second integer: 3
5 is not equal to 3
5 is greater than 3
5 is greater than or equal to 3

In [52]:
print ('Enter two integers, and I will tell you' ,
      'the relationships they satisfy')
#read first integer
number1 = int(input('Enter first integer: '))

#read second integer
number2 = int(input('Enter second integer: '))

if number1 == number2:
    print(number1, 'is equal to', number2)
    
if number1 != number2:
    print(number1, 'is not equal to', number2)
    
if number1 < number2:
    print(number1, 'is less than', number2)
    
if number1 > number2:
    print(number1, 'is greater than', number2)
    
if number1 <= number2:
    print(number1, 'is less than or equal to', number2)
    
if number1 >= number2:
    print(number1, 'is greater than or equal to', number2 )

Enter two integers, and I will tell you the relationships they satisfy
Enter first integer: 10
Enter second integer: 4
10 is not equal to 4
10 is greater than 4
10 is greater than or equal to 4

In [53]:
Grade = 85

In [54]:
if Grade >= 60:
    print('passed')

passed

In [55]:
if grade >= 60:
print('passed')

IndentationError: expected an indented block (<ipython-input-55-c301c180bc8e>, line 2)

In [57]:
if grade >= 60:
    print('passed')
   print('Good Job!')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [58]:
grade = 85

In [59]:
if grade >= 60:
    print('passed')
else:
    print('Failed')

passed

In [60]:
grade = 57

In [61]:
if grade >= 60:
    print("Pass")
else: 
    print("Fail")

Fail

In [62]:
grade = 87

In [63]:
if grade >= 60:
    result = 'Passed'
else: 
    result = 'Failed'

In [64]:
result

'Passed'

In [65]:
result = ('Passed' if grade >= 60 else 'Failed')

In [66]:
result

'Passed'

In [67]:
'Passed' if grade >= 60 else 'Failed'

'Passed'

In [71]:
grade = 49

In [72]:
if grade >= 60:
    print('passed')
else:
    print('failed')
    print('you must take this course again')

failed
you must take this course again

In [73]:
grade = 100

In [74]:
if grade >= 60:
    print('Passed')
else:
    print('Failed')
print('You must take this course again')

Passed
You must take this course again

In [75]:
grade = 77

In [76]:
if grade >= 90:
    print ('A')
elif grade >= 80:
    print ('B')
elif grade >= 70:
    print ('C')
elif grade >= 60:
    print ('D')
else:
    print ('F')

C

In [77]:
product = 3

In [78]:
while product <= 50:
    product = product * 3

In [79]:
product

81

In [80]:
for character in 'Programming':
    print (character)

P
r
o
g
r
a
m
m
i
n
g

In [81]:
for character in 'Programming':
    print(character, end=' ')

P r o g r a m m i n g

In [82]:
print(10,20,30)

10 20 30

In [83]:
print(10,20,30, sep='')

102030

In [84]:
print(10,20,30, sep=',')

10,20,30

In [85]:
print(10,20,30, sep='!')

10!20!30

In [86]:
total = 0

In [87]:
for number in[2, -3, 0, 17, 9]:
    total = total + number

In [88]:
total

25

In [89]:
for counter in range(10):
    print(counter, end=' ')

0 1 2 3 4 5 6 7 8 9

In [90]:
for number in range(5, 10):
    print(number, end=' ')

5 6 7 8 9

In [91]:
for number in range(0, 10, 2):
    print(number, end=' ')

0 2 4 6 8

In [92]:
for number in range(10, 0, -2):
    print(number, end=' ')

10 8 6 4 2

In [93]:
total = 0
for number in [1, 2, 3, 4, 5]:
    total = total + number

In [94]:
total

15

In [95]:
total = 0
for number in [1,2,3,4,5]:
    total += number

In [96]:
total

15

In [97]:
total = 0
grade_counter = 0
for number in(98, 76, 71, 87, 83, 90, 57, 79, 82, 94):
    total += number
    grade_counter = grade_counter + 1
    
Average = total/grade_counter

In [98]:
Average

81.7

In [99]:
print(f'The class average is {Average}')

The class average is 81.7

In [105]:
name = 'Vidya'
print(f'My name is {name}')

My name is Vidya

In [101]:
total = 0
grade_counter = 0
grade = int(input('Enter grade, -1 to end:'))

while grade != -1:
    total += grade
    grade_counter += 1
    grade = int(input('Enter grade, -1 to end: '))
    
if grade_counter != 0:
    average = total / grade_counter
    print(f'Class average is {average: .2f}')
else:
    print('No grades were entered')

Enter grade, -1 to end:3
Enter grade, -1 to end: 5
Enter grade, -1 to end: 66
Enter grade, -1 to end: 7
Enter grade, -1 to end: 7
Enter grade, -1 to end: 33
Enter grade, -1 to end: 3
Enter grade, -1 to end: -1
Class average is  17.71

In [103]:
passes = 0
failures = 0

for student in range(10):
    result = int(input('Enter result (1 = pass, 2 = fail):'))
    
    if result == 1:
        passes = passes + 1
    else:
        failures = failures + 1
    
print ('Passed:', passes)
print ('Failed:', failures)

if passes > 8:
    print('Bonus to instructor')

Enter result (1 = pass, 2 = fail):1
Enter result (1 = pass, 2 = fail):1
Enter result (1 = pass, 2 = fail):1
Enter result (1 = pass, 2 = fail):1
Enter result (1 = pass, 2 = fail):2
Enter result (1 = pass, 2 = fail):2
Enter result (1 = pass, 2 = fail):2
Enter result (1 = pass, 2 = fail):2
Enter result (1 = pass, 2 = fail):2
Enter result (1 = pass, 2 = fail):1
Passed: 5
Failed: 5

In [106]:
amount = 112.31
print(amount)
print(f'{amount: .20f}')

112.31
 112.31000000000000227374

In [109]:
for number in range(100):
    if number == 10:
        break
    print(number, end=' ')

0 1 2 3 4 5 6 7 8 9

In [110]:
number = 0

while number in range(10):
    number += 1
    if number in range(5,7,1):
        continue
    print(number, end=' ')

1 2 3 4 7 8 9 10

In [111]:
for number in range(10):
    if number == 5:
        continue
    print(number, end=' ')

0 1 2 3 4 6 7 8 9

In [112]:
gender = 'Female'

In [113]:
age = 70

In [114]:
if gender == 'Female' and age >= 65:
    print('Senior female')

Senior female

In [115]:
semester_average = 83

In [116]:
final_exam = 95

In [117]:
if semester_average >= 90 or final_exam >= 90:
    print('Student gets an A')

Student gets an A

In [118]:
grade = 87

In [123]:
if not grade == -1:
    print('The next grade is', grade)

The next grade is 87

In [124]:
if grade != -1:
    print('The next grade is', grade)

The next grade is 87

## Question no. 2.1 ##

In [2]:
x = 2 
y = 3

In [4]:
print('x =', x)

x = 2

Answer: This prints the value assigned to x

In [5]:
print('Value of', x, '+', x, 'is', (x + x))

Value of 2 + 2 is 4

Answer: This prints the characters 'Value of' along with the execution of x + x. Everything inside quotes is considered string to be printed.

In [6]:
print('x =')

x =

Answer: This command simply prints the characters within the command as a string.

In [8]:
print((x + y), 'x=', (y + x))

5 x= 5

Answer: This command prints the value of (x + y) along with the string x= mentioned inside quotes and then the value of (y + x)

## Question no: 2.2 ##

In [11]:
rating = input('Enter an integer rating between 1 and 10')

Enter an integer rating between 1 and 1088

Answer: Input() always returns string and it never check if it is integer, float or string. This code allows you to type in any integer (even outside the mentioned range) and prints it alongside the characters within print command.

In [17]:
#Answer - The correct code

rating = int(input('Enter an integer rating between 1 and 10: '))
if rating > 10:
    print('The integer you have entered must fall between 1 and 10')
else:
    print(f'{rating}')

Enter an integer rating between 1 and 10: 7
7

## Question no: 2.3 ##

In [139]:
grade = 92
if grade >= 90:
    print (f'Congratulations! Your grade of {grade} earns you an A in this course')
    
#Additional suggestion for <90 grades

else:
    print (f' Your grade is {grade}')

Congratulations! Your grade of 92 earns you an A in this course

## Question no: 3.2 ##

In [125]:
a = b = 7
print('a =', a, '\nb =', b)

a = 7
b = 7

### Answer: Nothing is wrong with the code. It works. ###

## Question no: 3.3 ##

In [126]:
for row in range(10):
    for column in range(10):
        print('<' if row % 2 == 1 else '>', end='')
        print()

>
>
>
>
>
>
>
>
>
>
<
<
<
<
<
<
<
<
<
<
>
>
>
>
>
>
>
>
>
>
<
<
<
<
<
<
<
<
<
<
>
>
>
>
>
>
>
>
>
>
<
<
<
<
<
<
<
<
<
<
>
>
>
>
>
>
>
>
>
>
<
<
<
<
<
<
<
<
<
<
>
>
>
>
>
>
>
>
>
>
<
<
<
<
<
<
<
<
<
<

### Answer:  This is a loop command. The first line of command allows the code to have a total of 10 rows across 10 columns. Since there is a contraint that the default print will be of symbol '>' if the second row is the same as first, which is possible for 10 rows. Then it cannot continue, so it changes to '<' due to the constraint of 10 rows.

## Question no: 3.4 ##

In [133]:
#Answer
for row in range(2):
    for column in range(7):
        print('@', end=' ')
    print()

@ @ @ @ @ @ @
@ @ @ @ @ @ @

## The End ##