Introduction to Python 5199 - Spring, 2021

Vidya Madhavan - vm2621

HW2 - 11/02/2021

In [12]:
def square(number):
    """Calculate the square of number."""
    return number ** 2

In [13]:
square(7)

49

In [14]:
square(2.5)

6.25

In [15]:
print('The square of 7 is', square(7))

The square of 7 is 49

In [16]:
def f(x):
    x = x * 2
    return x
f(2)

4

In [17]:
def f(x):
    x = x * 2
    return()
f(2)

()

In [18]:
def f(x):
    x = x * 2
    return
f(2)

In [19]:
def f(x):
    x = x * 2
f(2)

In [27]:
def multiply5(number):
    i = 5
    number = number * i
    return number

In [28]:
multiply5(3)

15

In [29]:
 multiply5(6)

30

In [38]:
def maximum(value1, value2, value3):
    """Return the maximum of three values."""
    max_value = value1
    if value2 > max_value:
        max_value = Value2
    if value3 > max_value:
        max_value = value3
    return max_value

In [45]:
max(12, 27, 36)

36

In [44]:
max(12.3, 45.6, 9.7)

45.6

In [43]:
max(12, 27, 36)

36

In [46]:
import math

In [47]:
math.sqrt(900)

30.0

In [48]:
math.fabs(-10)

10.0

In [49]:
import math

In [51]:
ma

NameError: name 'ma' is not defined

In [52]:
math.

SyntaxError: invalid syntax (<ipython-input-52-6994845579ab>, line 1)

In [4]:
math.fabs?

Object `math.fabs` not found.

In [54]:
def rectangle_area(length=2, width=3):
    """Return a rectangle's area."""
    return length * width

In [55]:
rectangle_area()

6

In [56]:
rectangle_area(10)

30

In [57]:
rectangle_area(10, 5)

50

In [58]:
def rectangle_area(length, width):
    """Return a rectangle's area."""
    return length * width

In [59]:
rectangle_area(width = 5, length = 10)

50

In [60]:
max(11)

TypeError: 'int' object is not iterable

In [61]:
max(11, 22)

22

In [62]:
max(12, 17, 36)

36

In [63]:
def average(*args):
    return sum(args) / len(args)

In [64]:
average(5, 10)

7.5

In [65]:
average(5, 10, 15)

10.0

In [66]:
average(5, 10 ,15 ,20)

12.5

In [67]:
grades = [88, 75, 96, 55, 83]

In [68]:
average(*grades)

79.4

In [69]:
s = 'Hello'

In [70]:
s.lower() #call lower method on string object s

'hello'

In [71]:
s.upper()

'HELLO'

In [72]:
s

'Hello'

In [83]:
x = 7

In [84]:
def access_global():
    print('x printed from access_global:', x)

In [85]:
access_global()

x printed from access_global: 7

In [86]:
def try_to_modify_global():
    x = 3.5
    print('x printed from try_to_modify_global:', x)

In [87]:
try_to_modify_global()

x printed from try_to_modify_global: 3.5

In [88]:
x

7

In [89]:
def modify_global():
    global x;
    x = 'hello'
    print('x printed from modify_global:', x)

In [90]:
modify_global()

x printed from modify_global: hello

In [91]:
x

'hello'

In [92]:
from math import ceil, floor

In [93]:
ceil(10.3)

11

In [94]:
floor(10.7)

10

In [95]:
e = 'hello'

In [96]:
from math import *

In [97]:
e

2.718281828459045

In [98]:
import statistics as stats

In [99]:
grades = [85, 93, 45, 87, 93]

In [101]:
stats.mean(grades)

80.6

In [110]:
# Option 1
def my_product(*args):
    return prod(args)

In [111]:
numbers = [8, 9, 10, 3, 2, 4.5]

In [112]:
my_product(*numbers)

19440.0

In [115]:
#Option 2
def my_product(*args):
    """Calculate the product of the arguements."""
    if len(args) == 0:
        return 0
    
    product = 1
    
    for arg in args:
        product *= arg
        
    return product

In [116]:
my_product(9, 2, 4)

72

In [117]:
my_product(99, 100)

9900

In [118]:
my_product()

0

In [119]:
my_product(1)

1

In [121]:
my_product(1, 2, 3)

6

In [122]:
my_product(1, 2, 3, 4, 5)

120

In [5]:
import My_function

In [6]:
My_function.my_product()

0

In [7]:
My_function.my_product(5, 6, 7)

210

In [128]:
final_result = My_function.my_product(9, 8, 2)

In [129]:
final_result

144

In [9]:
import myfunction

In [27]:
myfunction.product_user_input()

Please enter a number (enter "end" to end): 1
Please enter a number (enter "end" to end): 2
Please enter a number (enter "end" to end): 3
Please enter a number (enter "end" to end): 4
Please enter a number (enter "end" to end): 5
Please enter a number (enter "end" to end): end

120

In [28]:
final_result = myfunction.product_user_input()

Please enter a number (enter "end" to end): 1
Please enter a number (enter "end" to end): 2
Please enter a number (enter "end" to end): 3
Please enter a number (enter "end" to end): 4
Please enter a number (enter "end" to end): 5
Please enter a number (enter "end" to end): end

In [29]:
final_result

120

Answer to Question 4.3

The code is wrong because there is no 'return' command in it. Hence if executed, it will print 'The cube of 2 is None'.

Answer to Question 4.4 

The 'mystery' function sums the squares of the numbers in 'x', which is of type list. Another thing to note is that it returns values, not exclusively numbers.

Answer to Question 4.5

In [34]:
 def seconds_since_midnight():
    """Calculate seconds since midnight"""
    h = int(input('Please enter an hour between 0 and 23: '))
    m = int(input('Please enter a minute between 0 and 59: '))
    s = int(input('Please enter an second between 0 and 59: '))
    x = h*3600 + m*60 + s
    
    if x == 0:
        return('0 seconds since midnight')
    else:
        return x

In [35]:
seconds_since_midnight()

Please enter an hour between 0 and 23: 13
Please enter a minute between 0 and 59: 30
Please enter an second between 0 and 59: 45

48645