Introduction to Python 5199 - Spring, 2021

Vidya Madhavan - vm2621

HW3 - 02/18/2021

In [1]:
c = [-45, 6, 0, 72, 1543]

In [2]:
c

[-45, 6, 0, 72, 1543]

In [3]:
c[0]

-45

In [4]:
c[4]

1543

In [5]:
c[-1]

1543

In [6]:
c[-5]

-45

In [7]:
a = 1

In [8]:
b = 2

In [9]:
c [a +b]

72

In [10]:
c[4] = 17

In [11]:
c

[-45, 6, 0, 72, 17]

In [12]:
c = [-45, 6, 0, 72, 1543]

In [13]:
c

[-45, 6, 0, 72, 1543]

In [14]:
len(c)

5

In [15]:
s = 'hello'

In [16]:
s[0]

'h'

In [17]:
s[0] = 'H'

TypeError: 'str' object does not support item assignment

In [18]:
c[100]

IndexError: list index out of range

In [19]:
c[0] + c[1] + c [2]

-39

In [20]:
a_list = []

In [21]:
for number in range(1, 6):
    a_list += [number]

In [22]:
a_list

[1, 2, 3, 4, 5]

In [23]:
letter = []

In [24]:
letters += 'Python'

NameError: name 'letters' is not defined

In [25]:
letters

NameError: name 'letters' is not defined

In [26]:
list1 = [10,20,30]

In [27]:
list2 = [40, 50]

In [30]:
concatenated_list = list1 + list2

In [31]:
concatenared_list

NameError: name 'concatenared_list' is not defined

In [32]:
for i in range(len(concatenated_list)):
    print(f'{i}: {concatenated_list[i]}')

0: 10
1: 20
2: 30
3: 40
4: 50

In [48]:
a = [1, 2, 3]

In [49]:
b = [1, 2, 3]

In [35]:
c = [1,2 ,3 ,4]

In [50]:
a == b

True

In [51]:
a == c

False

In [52]:
a < c

True

In [53]:
c >= b

True

In [40]:
student_tuple = ()

In [41]:
student_tuple

()

In [42]:
len(student_tuple)

0

In [54]:
student_tuple = 'Joen', 'Green', 3.3

In [55]:
student_tuple

('Joen', 'Green', 3.3)

In [56]:
len(student_tuple)

3

In [57]:
another_student_tuple = ('Mary', 'Red', 3.3)

In [58]:
another_student_tuple

('Mary', 'Red', 3.3)

In [61]:
a_singleton_tuple = ('red',)

In [62]:
a_singleton_tuple

('red',)

In [63]:
a_singleton_tuple = ('red')

In [64]:
a_singleton_tuple

'red'

In [65]:
time_tuple = (9, 16, 1)

In [66]:
time_tuple

(9, 16, 1)

In [67]:
time_tuple[0]

9

In [68]:
time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2]

33361

In [69]:
tuple1 = (10, 20, 30)

In [70]:
tuple2 = tuple1

In [71]:
tuple2

(10, 20, 30)

In [72]:
tuple1 += (40, 50)

In [73]:
tuple1

(10, 20, 30, 40, 50)

In [74]:
tuple2

(10, 20, 30)

In [75]:
numbers = [1, 2, 3, 4, 5]

In [76]:
numbers += (6, 7)

In [77]:
numbers

[1, 2, 3, 4, 5, 6, 7]

In [78]:
student_tuple = ('Amanda', 'Blue', [98, 75, 87])

In [79]:
student_tuple[2][1] = 85

In [80]:
student_tuple

('Amanda', 'Blue', [98, 85, 87])

In [81]:
student_tuple = ('Amanda', [98, 85, 87])

In [82]:
first_name, grades = student_tuple

In [83]:
first_name

'Amanda'

In [84]:
grades

[98, 85, 87]

In [85]:
number1, number2, number3 = [2, 3, 5]

In [88]:
print(f'{number1} {number2} {number3}')

2 3 5

In [89]:
first, second = 'hi'

In [91]:
print(f'{first} {second}')

h i

In [92]:
number1, number2, number3 = range(10, 40, 10)

In [94]:
print(f'{number1} {number2} {number3}')

10 20 30

In [95]:
number1 = 99

In [96]:
number2 = 22

In [97]:
number1, number2 = (number2, number1)

In [98]:
print(f'number1 = {number1}; number2 = {number2}')

number1 = 22; number2 = 99

In [101]:
colors = ['red', 'orange', 'yellow']

In [103]:
list(enumerate(colors))

[(0, 'red'), (1, 'orange'), (2, 'yellow')]

In [104]:
tuple(enumerate(colors))

((0, 'red'), (1, 'orange'), (2, 'yellow'))

In [106]:
for index, value in enumerate(colors):
    print(f'{index}: {value}')

0: red
1: orange
2: yellow

In [108]:
#This is a better code for performance in big lists

for i in range(len(colors)):
    print(f'{i}: {colors[i]}')

0: red
1: orange
2: yellow

In [109]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

In [110]:
numbers[2:6]

[5, 7, 11, 13]

In [111]:
numbers[:6]

[2, 3, 5, 7, 11, 13]

In [112]:
numbers[0:6]

[2, 3, 5, 7, 11, 13]

In [113]:
numbers[6:]

[17, 19]

In [114]:
numbers[6: len(numbers)]

[17, 19]

In [116]:
#shallow copy of the original elements
numbers[:]

[2, 3, 5, 7, 11, 13, 17, 19]

In [117]:
#Incremental by 2
numbers[::2]

[2, 5, 11, 17]

In [118]:
numbers[::-1]

[19, 17, 13, 11, 7, 5, 3, 2]

In [120]:
numbers[-1:-5:-1]

[19, 17, 13, 11]

In [121]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

In [122]:
#modifying a list using slice
numbers[0:3] = ['two', 'three', 'five']

In [123]:
numbers

['two', 'three', 'five', 7, 11, 13, 17, 19]

In [124]:
#deleting elements from list using slice
numbers[0:3] = []

In [125]:
numbers

[7, 11, 13, 17, 19]

In [126]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

In [127]:
numbers[::2] = [100, 100, 100, 100]

In [128]:
numbers

[100, 3, 100, 7, 100, 13, 100, 19]

In [129]:
numbers = list(range(0, 10))

In [130]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [131]:
del numbers [-1]

In [132]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [133]:
del numbers [0:2]

In [134]:
numbers

[2, 3, 4, 5, 6, 7, 8]

In [135]:
del numbers [::2]

In [136]:
numbers

[3, 5, 7]

In [137]:
del numbers[:]

In [138]:
numbers

[]

In [139]:
del numbers

In [140]:
numbers

NameError: name 'numbers' is not defined

In [141]:
def modify_elements(items):
    for i in range(len(items)):
        items[i] *= 2

In [142]:
numbers = [10, 3, 7, 1, 9]

In [143]:
modify_elements(numbers)

In [144]:
numbers

[20, 6, 14, 2, 18]

In [145]:
numbers_tuple = (10, 20, 30)

In [146]:
numbers_tuple

(10, 20, 30)

In [147]:
modify_elements(numbers_tuple)

TypeError: 'tuple' object does not support item assignment

In [148]:
#Since a tuple is immutable, it gives us an error message. This is because the output modifies the orinigal list itself, rather than create a newer list.

In [149]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [150]:
numbers.sort()

In [151]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [152]:
numbers.sort(reverse = True)

In [153]:
numbers

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [154]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [155]:
ascending_numbers = sorted(numbers)

In [156]:
ascending_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [157]:
numbers

[10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [158]:
letters = 'fajhdlie'

In [159]:
ascending_letters = sorted(letters)

In [160]:
ascending_letters

['a', 'd', 'e', 'f', 'h', 'i', 'j', 'l']

In [162]:
letters

'fajhdlie'

In [163]:
colors = ('red', 'orange', 'yellow', 'green', 'blue')

In [164]:
ascending_colors = sorted(colors)

In [165]:
ascending_colors

['blue', 'green', 'orange', 'red', 'yellow']

In [166]:
colors

('red', 'orange', 'yellow', 'green', 'blue')

In [167]:
numbers = [3, 7, 1, 4, 2, 8, 5, 6]

In [168]:
numbers.index(2)

4

In [169]:
numbers.index(10)

ValueError: 10 is not in list

In [172]:
#This is why we itemize the function, because otherwise multiplying the list by 2 just returns the same list as twice itself
numbers *= 2

In [171]:
numbers

[3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6]

In [174]:
#second number in the arguement within the brackets basically allows us to count for the first value in the arguement from that position in the list
numbers.index(5, 7)

14

In [175]:
numbers.index(7, 0, 4)

1

In [176]:
1000 in numbers

False

In [177]:
5 in numbers

True

In [178]:
1000 not in numbers

True

In [179]:
5 not in numbers

False

In [180]:
numbers = [3, 7, 1, 4, 2, 8, 5, 6, 3, 7, 1, 4, 2, 8, 5, 6]

In [181]:
key = 2

In [185]:
if key in numbers:
    print(f'found {key} at index {numbers.index(key)}')
else:
    print(f'(key) not found')

found 2 at index 4

In [186]:
key = 100

In [188]:
if key in numbers:
    print(f'found {key} at index {numbers.index(key)}')
else:
    print(f'{key} not found')

100 not found

In [189]:
color_names = ['orange', 'yellow', 'green']

In [190]:
color_names.insert(0, 'red')

In [191]:
color_names

['red', 'orange', 'yellow', 'green']

In [193]:
color_names.append('blue')

In [194]:
color_names

['red', 'orange', 'yellow', 'green', 'blue']

In [195]:
color_names.extend(['indigo', 'violet'])

In [196]:
color_names

['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

In [197]:
sample_list = []

In [198]:
s = 'abc'

In [200]:
sample_list.extend(s)

In [201]:
sample_list

['a', 'b', 'c']

In [202]:
t = (1, 2, 3)

In [203]:
sample_list.extend(t)

In [204]:
sample_list

['a', 'b', 'c', 1, 2, 3]

In [205]:
sample_list.extend((4, 5, 6))

In [206]:
sample_list

['a', 'b', 'c', 1, 2, 3, 4, 5, 6]

In [207]:
color_names.remove('green')

In [208]:
color_names

['red', 'orange', 'yellow', 'blue', 'indigo', 'violet']

In [209]:
color_names.clear()

In [211]:
color_names

[]

In [212]:
responses = [1, 2, 5, 4, 3, 5, 2, 1, 3, 3, 1, 4, 3, 3, 3, 2, 3, 3, 2, 2]

In [213]:
for i in range(1, 6):
    print(f'{i} appears {responses.count(i)}  times in responses')

1 appears 3  times in responses
2 appears 5  times in responses
3 appears 8  times in responses
4 appears 2  times in responses
5 appears 2  times in responses

In [ ]:
#Codes from Slide 48 added

In [6]:
color_name = ['red', 'orange', 'yellow', 'green', 'blue' ]

In [7]:
color_name.reverse()

In [8]:
color_name

['blue', 'green', 'yellow', 'orange', 'red']

In [11]:
copied_list = color_name.copy()

In [12]:
copied_list

['blue', 'green', 'yellow', 'orange', 'red']

In [214]:
stack = []

In [215]:
stack.append('red')

In [216]:
stack

['red']

In [217]:
stack.append('green')

In [218]:
stack

['red', 'green']

In [219]:
stack.pop()

'green'

In [220]:
stack

['red']

In [221]:
stack.pop()

'red'

In [222]:
stack

[]

In [223]:
stack.pop()

IndexError: pop from empty list

In [224]:
list1 = []

In [226]:
for item in range(1, 6):
    list1.append(item)

In [227]:
list1

[1, 2, 3, 4, 5]

In [228]:
list2 = [item for iten in range(1, 6)]

In [229]:
list2

[5, 5, 5, 5, 5]

In [230]:
list3 = [item ** 3 for item in range(1, 6)]

In [231]:
list3

[1, 8, 27, 64, 125]

In [233]:
list4 = [item for item in range(1, 11) if item % 2 == 0]

In [234]:
list4

[2, 4, 6, 8, 10]

In [235]:
colors = ['red', 'orange', 'yellow', 'green', 'blue']

In [236]:
colors2 = [item.upper() for item in colors]

In [237]:
colors2

['RED', 'ORANGE', 'YELLOW', 'GREEN', 'BLUE']

In [238]:
colors

['red', 'orange', 'yellow', 'green', 'blue']

In [27]:
numbers = [ 10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [28]:
for value in (x ** 2 for x in numbers if x % 2 != 0):
    print(value, end = ' ')

9 49 1 81 25

In [29]:
squares_of_odds = (x ** 2 for x in numbers if x % 2 != 0)

In [30]:
squares_of_odds

In [18]:
numbers = [ 10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [19]:
def is_odd4(x):
    '''Returns true only if x is odd'''
    return x % 2 != 0

In [20]:
list(filter(is_odd4, numbers))

[3, 7, 1, 9, 5]

In [21]:
is_odd4(numbers)

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [22]:
list(filter(lambda x: x % 2 != 0, numbers))

[3, 7, 1, 9, 5]

In [23]:
numbers

[10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [24]:
list(map(lambda x:x ** 2, numbers))

[100, 9, 49, 1, 81, 16, 4, 64, 25, 36]

In [25]:
[item ** 2 for item in numbers]

[100, 9, 49, 1, 81, 16, 4, 64, 25, 36]

In [26]:
tuple(map(lambda x:x ** 2, numbers))

(100, 9, 49, 1, 81, 16, 4, 64, 25, 36)

In [31]:
#Slide 60 ends

In [ ]:
#Answer to question 5.1

In [156]:
#1
day, high_temperature = ('Monday',
87, 65)

ValueError: too many values to unpack (expected 2)

In [ ]:
#Answer: The enumerate command is missing

In [154]:
#2
numbers = [1, 2, 3, 4, 5]
numbers[10]

IndexError: list index out of range

In [ ]:
##Answer: There is no 10th number to display in the list

In [157]:
#3
name = 'amanda'
name[0] = 'A'

TypeError: 'str' object does not support item assignment

In [159]:
## Answer: The assigned object cannot be a string for slice

In [158]:
#4
numbers = [1, 2, 3, 4, 5]
numbers[3.4]

TypeError: list indices must be integers or slices, not float

In [160]:
##answer: you cannot search for a float variable (non- integer or non slice)

In [161]:
#5
student_tuple = ('Amanda', 'Blue',
[98, 75, 87])
student_tuple[0] = 'Ariana'

TypeError: 'tuple' object does not support item assignment

In [ ]:
##Answer: tuples are not unmutable

In [162]:
#6
('Monday', 87, 65) + 'Tuesday'

TypeError: can only concatenate tuple (not "str") to tuple

In [ ]:
##Answer: Can only concatenate 2 tuples. Cannot mutate a tuple with string

In [163]:
#7
'A' += ('B', 'C')

SyntaxError: cannot assign to literal (<ipython-input-163-7903eedd41e4>, line 1)

In [ ]:
#Answer: Cannot assign a literal in this command, have to assign a variable

In [164]:
#8
x = 7
del x
print(x)

NameError: name 'x' is not defined

In [ ]:
##Answer: paranthesis missing for the delete command

In [165]:
#9
numbers = [1, 2, 3, 4, 5]
numbers.index(10)

ValueError: 10 is not in list

In [ ]:
## Answer: we are looking for a value not on the list provided

In [166]:
#10
numbers = [1, 2, 3, 4, 5]
numbers.extend(6, 7, 8)

TypeError: extend() takes exactly one argument (3 given)

In [ ]:
## Answer: We have to group the arguments in a list

In [167]:
#11
numbers = [1, 2, 3, 4, 5]
numbers.remove(10)

ValueError: list.remove(x): x not in list

In [ ]:
## Answer: We are asking to remove a value that is not present in the list

In [168]:
#12
values = []
values.pop()

IndexError: pop from empty list

In [ ]:
# Answer: Pop command doesn't work as the list is empty

In [32]:
#Answer to question 5.2

In [149]:
sequence = (1,2, 13415, 99111)

In [150]:
def mystery(sequence): 
    return sequence == sorted(sequence)

In [151]:
mystery(sequence)

False

In [152]:
#The mystery function is sorting the input sequence and the output is True or False

In [ ]:
##Answer to Question 5.5

In [122]:
alphabet = 'abcdefghijklmnopqrstuvwxyz'

In [127]:
#1
alphabet [0:13]

'abcdefghijklm'

In [128]:
#2
alphabet [:13]

'abcdefghijklm'

In [130]:
#3
alphabet [14:26]

'opqrstuvwxyz'

In [131]:
#4
alphabet [14::]

'opqrstuvwxyz'

In [136]:
#5
alphabet[::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [138]:
#6
alphabet[::2]

'acegikmoqsuwy'

In [142]:
#7
alphabet[::-3]

'zwtqnkheb'